.App {
  text-align: center;
  /*background-image: url('C:\Users\sanaths\Documents\GitHub\React_components\src\assets\images4.jpg');
  background-size:contain;
  background-position:top;
  background: cover;
  background-repeat: no-repeat;*/
}